[submodule "xmarts/branch"]
	path = xmarts/branch
	url = git@github.com:xmarts/branch.git
	branch = 15.0

[submodule "xmarts/credit_limit_alert_update"]
	path = xmarts/credit_limit_alert_update
	url = git@github.com:xmarts/credit_limit_alert_update.git
	branch = 15.0

[submodule "xmarts/fields_functions_jarochito"]
	path = xmarts/fields_functions_jarochito
	url = git@github.com:xmarts/fields_functions_jarochito.git
	branch = 15.0

[submodule "xmarts/addenda_tiendas3b"]
	path = xmarts/addenda_tiendas3b
	url = git@github.com:xmarts/addenda_tiendas3b.git
	branch = 15.0
